---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2> Natural Language Processing (Practical Project) <h2> <br/>
  Lecture, <A href="https://fastcampus.co.kr/data_online_nlpp"> <i>FastCampus</i> </A>, 2022

<h2> Digital Logic Circuit Class Assistant <h2> <br/>
  Undergraduate course, <i>Yonsei University, Electrical and Electronic engineering</i>, 2017
